/* make the customizations */
$theme-colors: (
        "info": tomato,
        "danger": teal
);

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";