.incidents-gallery {
  a {
    color: #000;
    text-decoration: none;
  }


  .page-item:last-child {
    .page-link {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.incidents-gallery-item {
  border-radius: 4px;

  &:hover {
    box-shadow: 0 0 5px 1px rgba(153, 153, 153, .4);
  }
}


